<!DOCTYPE html>
<html lang="en">

<head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="./../assets/css/style.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="text-center">
                        <img src="./../assets/images/cybersoft.png" alt="Card image" />
                    </div>

                    <div class="card-body">
                        <h4 class="card-title text-center">
                            CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến - Virtual Dressing Room
                        </h4>
                    </div>
                </div>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-pills">
                    <nav class="nav nav-pills nav-justified" id="nav-bar">
                        <button class="nav-item nav-link" href="#" id="nav1">áo</button>
                        <button class="nav-item nav-link" href="#" id="nav2">quần</button>
                        <button class="nav-item nav-link" href="#" id="nav3">tóc</button>
                        <button class="nav-item nav-link" href="#" id="nav4">
                túi xách
              </button>
                        <button class="nav-item nav-link" href="#" id="nav5">
                trang sức
              </button>
                        <button class="nav-item nav-link" href="#" id="nav6">giày</button>
                        <button class="nav-item nav-link" href="#" id="nav7">
                phong cảnh
              </button>
                    </nav>
                </ul>

                <div class="well row d-flex">
                    <!-- Tab panes -->

                    <div class="tab-content" id="items-content"></div>
                </div>
            </div>
            <div class="col-md-4 w-25">
                <div class="container">
                    <div class="contain">
                        <div class="body mb-1">
                            <div class="body-img"></div>
                        </div>
                        <div class="model mb-1">
                            <div class="model-img"></div>
                        </div>
                        <div class="hairstyle mb-1">
                            <div class="hairstyle-img"></div>
                        </div>
                        <div class="necklaceTop mb-1">
                            <div class="necklaceTop-img"></div>
                        </div>
                        <div class="necklace mb-1">
                            <div class="necklace-img"></div>
                        </div>
                        <div class="necklaceBt">
                            <div class="necklaceBt-img"></div>
                        </div>
                        <div class="bikinitop mb-1">
                            <div class="bikinitop-img"></div>
                        </div>
                        <div class="bikinibottom mb-1">
                            <div class="bikinibottom-img"></div>
                        </div>
                        <div class="handbag">
                            <div class="handbag-img mb-1"></div>
                        </div>
                        <div class="feet">
                            <div class="feet-img mb-1"></div>
                        </div>
                        <div class="background">
                            <div class="background-img mb-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="./../models/ListChosen.js"></script>
    <script src="./../models/ChoseItem.js"></script>
    <script src="./../utils/callData.js"></script>
    <script src="./../controllers/main.js"></script>
</body>

</html>